* {
  box-sizing: border-box;
}

* {
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: whitesmoke;
}

    /*header styling*/
header {
padding: 10px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: blue;
color: black;
text-align: center;
}

header h1 {
font-size: 38px;
}

.parentContainer {
display: inline-flex;
padding-left: 20px;
padding-top: 10px;
flex: 2;
}

.dateContainer {
display: flex;
padding: 25px;
width: 75vw;
border: 5px solid blue;
border-radius: 10px;
margin-bottom: 15px;
margin-left: 20px;
justify-content: space-evenly;
}

.currentInfo {
display: flex;
justify-content: space-between;
gap: 35px;
font-size: x-large;
font-weight: bolder;
}

.time #am-pm, #mph {
font-size: x-small;
}

.others {
display:flex;
flex-direction: column;
margin-top: 10px;
margin-bottom: 25px;
}

.weatherItem {
display: flex;
justify-content: space-between;
gap: 25px;
}

.five-day-forecast {
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}

button {
display: inline-block;
cursor: pointer; 
color: azure;
background-color:blue;
border-radius: 6px;
margin: 5px;
padding: 8px;
border: 0;
}
    
button:hover {
background-color: palevioletred;
}

.five-day-forecast {
display: flex;
padding: 25px;
border: 3px solid black;
width: 100vw;
position: fixed;
bottom: 0;
}

.futureForecast {
border: 5px solid blue;
border-radius: 10px;
padding: 10px;
}
.prevCities li {
border: 2px solid black;
border-radius: 5px;
background-color: aqua;
max-width: 175px;
list-style-type: none;
}