* {
  box-sizing: border-box;
}

* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: whitesmoke;
}

    /*header styling*/
header {
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blue;
    color: black;
    text-align: center;
}

header h1 {
    font-size: 38px;
}

.parentContainer {
display: inline-flex;
padding-left: 20px;
padding-top: 10px;
}

.dateContainer {
  display: flex;
  padding: 25px;
  border: 3px solid black;
  margin-bottom: 15px;
  margin-left: 20px;
}

.currentInfo {
display: flex;
flex-wrap: wrap;
font-size: x-large;
font-weight: bolder;
justify-content: space-evenly;
}

.time #am-pm {
font-size: small;

}

.others {
display:flex;
flex-direction: column;
margin-top: 10px;
margin-bottom: 25px;
}

.weatherItem {
display: flex;
justify-content: space-between;
}

.five-day-forecast {
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}

button {
    display: inline-block;
    cursor: pointer; 
    color: azure;
    background-color:blue;
    border-radius: 6px;
    margin: 5px;
    padding: 8px;
    border: 0;
    }
    
    button:hover {
    background-color: palevioletred;
    }